@import "tailwindcss";

@theme {
  --color-platinum: #E7E4DD;
  --color-pastel-grey: #D2CCC0;
  --color-black-cow: #534C42;
  --color-heathered-grey: #B9AE9C;
}

:root {
  font-family: "Vollkorn", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #534C42;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card-rounded {
  background-color: #E7E4DD;
  border-color: #D2CCC0;
  background-image: url("assets/noise.png");
  background-repeat: repeat;
  background-size: auto;
  border-width: 3px;
  border-radius: 1.5rem; /* rounded-3xl */
  outline-style: solid;
  outline-width: 4px;
  outline-color: #E7E4DD;
}

.back-card-rounded {
  background-color: #453D54;
  background-image: url("assets/card-pattern.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto; 
  border-radius: 1.5rem; /* rounded-3xl */
  outline-style: solid;
  outline-width: 4px;
  outline-color: #000000;
}

.border-coupon-fill {
  border-image: url("assets/border-fill.svg");
  border-image-slice: 33%;
  border-image-width:16px;
}
.border-coupon-white {
  border-image: url("assets/border.svg");
  border-image-slice: 33%;
  border-image-width:16px;
}

.border-profile {
  border : 32px solid;
  border-image: url("assets/border-profile.svg");
  border-image-slice: 33%;
  border-image-width: 32px;
}

.sprite {
  animation: play 1s steps(3) infinite;
  image-rendering: pixelated;
}

@keyframes play {
  from {
    background-position: 0% 0;
  }
  to {
    background-position: 150% 0;
  }
}


@keyframes fadeOutScale {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.emote-anim {
  animation: fadeOutScale 1.2s forwards;
}
