@import "tailwindcss";

@theme {
  --color-platinum: #E7E4DD;
  --color-pastel-grey: #D2CCC0;
  --color-black-cow: #534C42;
}

:root {
  font-family: "Vollkorn", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #534C42;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card-rounded {
  background-color: #E7E4DD;
  border-color: #D2CCC0;
  background-image: url("src/assets/noise.png");
  background-repeat: repeat;
  background-size: auto;
  border-width: 3px;
  border-radius: 1.5rem; /* rounded-3xl */
  outline-style: solid;
  outline-width: 4px;
  outline-color: #E7E4DD;
}



@keyframes fadeOutScale {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.emote-anim {
  animation: fadeOutScale 1.2s forwards;
}
